.data {
    background: url('../../../public/images/BackgroundGrey.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 10px;
}

.dataInner {
    max-width: 784px; 
    margin-left: auto;
    margin-right: auto;
}

.dataHeading {
    font-size: 21px;
    color: #242A31;
    margin-bottom: 32px;
}

.dataPara {
    font-size: 16px;
    color: #4F4F4F;
    margin-bottom: 32px;
}


.radioImage {
    width: 100%;
    height: auto;
    max-width: 784px;
    margin-bottom: 32px;
}

.socialLinks {
    display: flex;
    align-items: center;
}

.socialLinks span {
    font-weight: 600;
    color: #4F4F4F;
    margin-right: 24px;
}

.links {
    color: #123857;
    font-size: 32px;
}


@media (min-width: 1101px) {
    .data {
        padding-top: 114px;
        padding-bottom: 81px;
    }

    .dataHeading {
        font-size: 24px;
    }

    .dataPara {
        font-size: 18px;
    }
    
    
}

@media (min-width: 1800px) {
    .dataInner {
        max-width: 1100px; 
    }

    .radioImage {
        max-width: 1100px;
    }
}