.footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: #222;
  padding: 50px 150px;
  width: 100%;
  gap: 10%;
}

.brand {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.brand p {
  text-align: center;
  color: white;
  font-size: 16px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.infoCompany {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  color: white;
}

.infoCompany h1 {
  margin-bottom: 20px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.infoCompany a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.infoCompany img {
  margin-right: 15px;
  filter: invert(96%) sepia(43%) saturate(1511%) hue-rotate(303deg)
    brightness(78%) contrast(103%);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

/* @media (max-width:2400px){

} */
/* @media (max-width:1920px){
  
} */
/* @media (max-width:1200px){
  
} */
@media (max-width: 992px) {
  .footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: #222;
    padding: 50px;
    width: 100%;
    gap: 10%;
  }
}
@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #222;
    padding: 50px;
    width: 100%;
    gap: 50px;
  }

  .infoCompany {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    color: white;
  }
}
