.fade {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 50%;
}

.thankyou {
  margin-top: 70px;
  min-height: 79vh;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/images/BackgroundGrey.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.thankyou h1 {
  font-size: 40px;
  letter-spacing: 3px;
  line-height: 104%;
  color: var(--blue2);
  font-weight: 600;
  text-align: center;
  margin: 0px 20px;
}

.thankyou h2 {
  letter-spacing: 3px;
  color: black;
  font-size: 20px;
  text-align: center;
  margin: 30px 20px;
}

.buttonAnchor {
  margin: 20px 0px 20px 0px;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  outline: none;
  padding: 10px 20px;
  background: none;
  border: 1px solid gray;
}

.buttonAnchor:hover {
  margin: 20px 0px 20px 0px;
  background-color: var(--blue2);
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  outline: none;
  padding: 10px 20px;
  color: var(--yellow);
  border: 1px solid gray;
  transition: all 0.5s;
}
